beautifulsoup4==4.10.0; python_full_version > "3.0.0"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3"
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
dynaconf==3.1.7; python_version >= "3.7"
html2text==2020.1.16; python_version >= "3.5"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
loguru==0.5.3; python_version >= "3.5"
lxml==4.6.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
mongita==1.0.1; python_version >= "3.7"
pymongo==3.12.0; python_version >= "3.7"
pytelegrambotapi==4.1.0
requests==2.26.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
selenium==3.141.0
sortedcontainers==2.4.0; python_version >= "3.7"
soupsieve==2.2.1; python_version >= "3.6" and python_full_version > "3.0.0"
urllib3==1.26.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
win32-setctime==1.0.3; sys_platform == "win32" and python_version >= "3.5"
